# 企业微信机器人的 Webhook 地址
WEBHOOK_URL=https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=YOUR_KEY_HERE

# 监控配置
# 正式服
MONITOR_URL_PROD=https://www.convercomm.com/api/admin/openapi/getLatestReport?pwd=xxxxxxxxxx&minutes=1
# 测试服
MONITOR_URL_TEST=https://www.beidoulab.club:5557/api/admin/openapi/getLatestReport?pwd=xxxxxxxxxx&minutes=15

# 监控频率 (秒)
MONITOR_INTERVAL=60
# 是否仅在报错时推送 (true/false)
REPORT_ONLY_ON_ERROR=true
